.SensorThresholds {
  text-align: center;
  display: inline-block;
}

.SensorThresholdsControls {
  display: block;
  float: left;
  margin-left: 7px;
  margin-right: 7px;
}

.SensorValuePicker {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 5px;
  margin-bottom: 2px;
  justify-items: end;
}

.NumberInput {
  width: 50px;
  display: inline-block;
}

.FormLabel {
  text-align: right;
  width: 100%;
  display: inline-block;
}

.SensorName {
  display: block;
}